@media only screen and (max-width: 1920px) {
    #modalheaderprice {
     position: absolute;
     top: 200px;
     left: 220px;
    }
    #modalcontentprice {
     position: absolute;
     top: 290px;
     left: 6px;
     right: 2px;
     width: 97%;
    }
    #modalactionsprice {
     position: absolute;
     top: 400px;
     left: 250px;
    }
    html.mdl-js body.dimmable.dimmed.scrolling div.ui.page.modals.dimmer.transition.visible.active div.ui.small.basic.scrolling.modal.transition.visible.active div#modalcontentprice.content div.ui.icon.input input {
        margin: 0 0 0 200px;
    }
   }
 
   @media only screen and (max-width: 1280px) {
    #modalheaderprice {
     position: absolute;
     top: 100px;
     left: 220px;
    }
    #modalcontentprice {
     position: absolute;
     top: 190px;
     left: 6px;
     right: 2px;
     width: 97%;
    }
    #modalactionsprice {
     position: absolute;
     top: 320px;
     left: 240px;
    }
    html.mdl-js body.dimmable.dimmed.scrolling div.ui.page.modals.dimmer.transition.visible.active div.ui.small.basic.scrolling.modal.transition.visible.active div#modalcontentprice.content div.ui.icon.input input {
        margin: 0 0 0 190px;
    }
   }
 
   @media only screen and (max-width: 800px) {
    #modalheaderprice {
     position: absolute;
     top: 150px;
     left: 180px;
    }
    #modalcontentprice {
     position: absolute;
     top: 250px;
     left: 6px;
     right: 2px;
     width: 97%;
    }
    #modalactionsprice {
     position: absolute;
     top: 400px;
     left: 220px;
    }
    html.mdl-js body.dimmable.dimmed.scrolling div.ui.page.modals.dimmer.transition.visible.active div.ui.small.basic.scrolling.modal.transition.visible.active div#modalcontentprice.content div.ui.icon.input input {
        margin: 0 0 0 150px;
    }
   }
 
 @media only screen and (max-width: 768px) {
    #modalheaderprice {
     position: absolute;
     top: 100px;
     left: 150px;
    }
    #modalcontentprice {
     position: absolute;
     top: 190px;
     left: 6px;
     right: 2px;
     width: 97%;
    }
    #modalactionsprice {
     position: absolute;
     top: 300px;
     left: 180px;
    }

    html.mdl-js body.dimmable.dimmed.scrolling div.ui.page.modals.dimmer.transition.visible.active div.ui.small.basic.scrolling.modal.transition.visible.active div#modalcontentprice.content div.ui.icon.input input {
        margin: 0 0 0 120px;
    }
   }
 
 
 @media only screen and (max-width: 414px) {
    #modalheaderprice {
     position: absolute;
     top: 100px;
     left: 70px;
    }
    #modalcontentprice {
     position: absolute;
     top: 190px;
     left: 6px;
     right: 2px;
     width: 97%;
    }
    #modalactionsprice {
     position: absolute;
     top: 300px;
     left: 100px;
    }

    html.mdl-js body.dimmable.dimmed.scrolling div.ui.page.modals.dimmer.transition.visible.active div.ui.small.basic.scrolling.modal.transition.visible.active div#modalcontentprice.content div.ui.icon.input input {
        margin: 0 0 0 40px;
    }
   } 