.Seller {
    position: relative;
}
#wels {
    position: absolute;
    top: 0px;
    left: 20px;
}
#regs {
    position: absolute;
    top: 30px;
    left: 900px;
}
#logs {
    position: absolute;
    top: 30px;
    left: 1100px;
}